html {
  font-family: 'roboto';
}

body {
  margin: 0;
  background-color: #efefef;
}

header {
  width: 100%;
  background-color: rgb(255,255,255);
  padding:2.5rem 0 2.5rem 0;
  border-bottom: solid 0.01rem black;
}

header h1{
  display: inline;
  font-size: 2.5rem;
  padding-left: 2.5rem;
}

nav {
  float: right;
  padding-right: 3rem;;
}


nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  }

 
  nav a {
    color: rgb(0, 0, 0);
    margin-left: 0.8rem;
    font-size: 1rem;
    text-shadow: 0.02rem 0.02rem 0.05rem black;
    text-decoration: none;
    border-right: 0.02rem solid rgb(0, 0, 0);
    padding-right: 0.2rem;
    transition: all 0.3s ease;
  }
  
  nav a:hover{
    background: rgb(186,212,214);
  }

.contenedor_1 {
   display: flex;
   padding-left: 7.5rem;
}

.descripcion {
width:50%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: left;
}

.descripcion h1 {
  font-size: 4rem;
  margin-bottom: 0.5rem;
}

.contenedor_2 {
  display: flex;
}


.descripcion p {
  font-size: 2rem;
  margin-top: 0.5rem;
}

.img {
  width: 20rem;
  margin-top: 6.5rem;
  margin-left: 7rem;
}

.objeto {
  margin: 0 auto;
  width: 13rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.objeto h3 {
  margin: 0;
}

.objeto p {
  margin-top: 0.5rem;
}

#icono_2 {
  width: 8rem;
  margin: 0 auto;
  margin-top: 2.4rem;
}

.descripcion_2 {
  margin-top: 2.5rem;
}

#icono_3 {
  width: 8rem;
  margin: 0 auto;
  margin-top: 2rem;;
  margin-bottom: 1.7rem;;
}



.icono {
  font-size: 20px;
  display: flex;
  justify-content: right;
  margin-left: 15px;

   
}

.icono2{
  font-size: 20px;
  display: flex;
  justify-content: right;
}



footer {
  background-color: black;
  color: aliceblue;
  text-align: left;
  
  border-bottom: 10px;
  border-style: inset;
}
