body {
  font-family: 'Times New Roman', ;
  color: black;
  background: rgb(228, 224, 224);



}
.imagen1{
  max-width: 1300px;
  height: 300px;
  border-radius: 20px;
}

a{
  color: black;
  font-size: larger;
  margin-left: 15px;
}
.contenedor{
  display: flex;
  justify-content: space-between;
  
}
.vision {
  width: 40%;
  padding: 50px;
  background-color: blue;
  border-radius: 20px;
}
.mision {
  width: 40%;
  padding: 50px;
  background-color: rgb(201, 94, 6);
  border-radius: 20px;
  
}
.icono {
  font-size: 20px;
  display: flex;
  justify-content: right;
  margin-left: 15px;
   
}

.icono2{
  font-size: 20px;
  display: flex;
  justify-content: right;
}
.encabezado{
  
  border-radius: 20px;
  border-left-color: black;
}
nav{

padding: 2%;
background-color: rgb(94, 34, 155);
width: 100%;
max-width: 1270px;
margin: auto;
color: black;
border-radius: 20px;
border-color: black;
border-spacing: 20px;
border-width: 3%;



}
